node_modules
altv-server
resources/*
cdn_upload
**/.vscode/**/*
*.dll
*.exe
update.json
modules/
*.log
cache/
uploads/
crashdumps/
package-lock.json
ipc.txt
.env
server.toml
1server.toml
2server.toml
data/*
!resources/assets/
!resources/bug/
!resources/playvspawn
!.vscode/tasks.json
.server-crashes-cache
AltV.Net.Host.runtimeconfig.json
libnode.so.108
altv-crash-handler
